- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0750'
  loop:
    - "{{ rvl_dns_coredns_dir }}"

- name: Get an existing ingress object
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Service
    name: ingress
    namespace: openstack
  register: ingress_service
  until: ingress_service.resources | json_query('[0].status.loadBalancer.ingress[0].ip') is not none
  retries: 60
  delay: 10
  ignore_errors: yes
  tags:
    - dns
  when: rvl_dns_discover_ingress_ip

- name: Template file Corefile
  ansible.builtin.template:
    src: coredns_corefile.j2
    dest: "{{ rvl_dns_coredns_dir }}/Corefile"
    owner: bin
    group: root
    mode: '0644'
  vars:
    listen_ip: "{{ rvl_resolved_ip_address }}"
    listen_port: 53
  tags:
    - dns

- name: Template coredns zone
  ansible.builtin.template:
    src: coredns_zone.j2
    dest: "{{ rvl_dns_coredns_dir }}/it.just.works.db"
    owner: bin
    group: root
    mode: '0644'
  vars:
    ingress_service_ip: "{{ ingress_service.resources[0].status.loadBalancer.ingress[0].ip }}"
  tags:
    - dns
  when: rvl_dns_discover_ingress_ip

- name: Template coredns zone no ingress
  ansible.builtin.template:
    src: coredns_zone.j2
    dest: "{{ rvl_dns_coredns_dir }}/it.just.works.db"
    owner: bin
    group: root
    mode: '0644'
  tags:
    - dns
  when: not rvl_dns_discover_ingress_ip

- name: Setup coredns
  include_role:
    name: cloudalchemy.coredns
  vars:
    coredns_dns_port: "{{ rvl_dns_coredns_port }}"
    coredns_zone_files_paths:
      - "{{ rvl_dns_coredns_dir }}/it.just.works.db"
    coredns_config_file: "{{ rvl_dns_coredns_dir }}/Corefile"
    coredns_system_user: "{{ rvl_dns_coredns_user }}"
    coredns_system_group: "{{ rvl_dns_coredns_group }}"
  tags:
    - dns

- name: Template a file to /etc/systemd/system/coredns.service
  ansible.builtin.template:
    src: coredns.service.j2
    dest: /etc/systemd/system/coredns.service
    owner: root
    group: root
    mode: '0644'
  tags:
    - dns

- name: Restart Coredns.service
  ansible.builtin.service:
    name: coredns.service
    state: restarted
    daemon-reload: yes
    enabled: yes
  tags:
    - dns
