.:{{ listen_port }} {
    bind {{ listen_ip }}
    errors
    ready
    forward . {{ rvl_dns_nameservers | join(' ') }}
    cache 30
    loop
    reload
    loadbalance
}

auto it.just.works:{{ listen_port }} {
    bind {{ listen_ip }}
    file /etc/coredns/zones/it.just.works.db
    reload 30s
}
