#!/bin/bash

rule="POSTROUTING -t nat -s {{ rvl_osdpl_floating_network.subnet.range }} -j SNAT --to-source {{ ansible_default_ipv4.address }} -o {{ ansible_default_ipv4.interface }} --destination 0.0.0.0/0"
if ! iptables -C ${rule}; then
    iptables -A ${rule}
fi
