network:
  version: 2
  ethernets:
      {{ veth.src }}: {}
      {{ veth.dst }}: {}
{% if rvl_controller_node_main %}
  bridges:
    br-fip:
      interfaces:
        - {{ veth.dst }}
      addresses:
        - 10.11.12.11/24
{% endif %}
