network:
  version: 2
  ethernets:
      {{ veth.src }}: {}
      {{ veth.dst }}: {}
{% if rvl_controller_node_main %}
  bridges:
    br-fip:
      interfaces:
        - {{ veth.dst }}
      addresses:
        - {{ rvl_osdpl_floating_network.subnet.gateway }}/24
{% endif %}
