apiVersion: v1
kind: Secret
metadata:
  name: osh-dev-hidden
  namespace: openstack
  labels:
    openstack.lcm.mirantis.com/osdpl_secret: 'true'
type: Opaque
data:
  ca_cert: {{ ca_cert }}
  api_cert: {{ api_cert }}
  api_key: {{ api_key }}
