apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  creationTimestamp: null
  name: openstack-default
  namespace: metallb
spec:
  addresses: {{ rvl_metallb_address_pool_addresses }}
  autoAssign: true
  avoidBuggyIPs: true
